<footer>
    <hr>
    <section class="container">
        <div class="footer-content">
            <h3>Resources</h3>
            <ul>
                <li>Air flights</li>
                <li>Car Hire</li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Get insight</h3>
            <ul>
                <li>Blogs</li>
                <li>Vist our you tube channel</li>
            </ul>
        </div>
        <div class="footer-content">
            <h3>Contact Us</h3>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>linkedIn</li>
            </ul>
        </div>
    </section>
</footer>